In [1]:
from pykdb import Futures
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

obj = Futures()

In [17]:
obj.symbols[0:10]

['F101-1609',
 'F101-1612',
 'F101-1703',
 'F101-1706',
 'F101-1709',
 'F101-1712',
 'F101-1806',
 'F101-1812',
 'F101-1906',
 'F101-1912']

In [18]:
obj.names['F101-1609']

'日経平均先物'

In [19]:
obj.contracts['F101-1609']

'2016年09月限'

In [2]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
df = obj.price(date_from=start, date_to=end, symbol='F101-1609', freq='1d')
df.head(10)

http://k-db.com/futures/F101-1609/1d/2016?download=csv

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>時刻</th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>日中</td>
      <td>18790</td>
      <td>18790</td>
      <td>18250</td>
      <td>18250</td>
      <td>10</td>
      <td>184460</td>
    </tr>
    <tr>
      <th>2016-01-04</th>
      <td>夜間</td>
      <td>18060</td>
      <td>18060</td>
      <td>17960</td>
      <td>18050</td>
      <td>8</td>
      <td>144070</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>夜間</td>
      <td>18100</td>
      <td>18170</td>
      <td>18100</td>
      <td>18170</td>
      <td>4</td>
      <td>72570</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>日中</td>
      <td>18360</td>
      <td>18400</td>
      <td>18220</td>
      <td>18220</td>
      <td>6</td>
      <td>109960</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>夜間</td>
      <td>18020</td>
      <td>18020</td>
      <td>17830</td>
      <td>17900</td>
      <td>5</td>
      <td>89610</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>日中</td>
      <td>18090</td>
      <td>18090</td>
      <td>17960</td>
      <td>18030</td>
      <td>23</td>
      <td>414640</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>夜間</td>
      <td>17580</td>
      <td>17620</td>
      <td>17340</td>
      <td>17590</td>
      <td>33</td>
      <td>576680</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>日中</td>
      <td>18000</td>
      <td>18000</td>
      <td>17530</td>
      <td>17530</td>
      <td>34</td>
      <td>602340</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>日中</td>
      <td>17440</td>
      <td>17740</td>
      <td>17380</td>
      <td>17740</td>
      <td>23</td>
      <td>404000</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>夜間</td>
      <td>17600</td>
      <td>17690</td>
      <td>17310</td>
      <td>17310</td>
      <td>12</td>
      <td>210770</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
start = datetime(2016, 8, 12)
end = datetime(2016, 8, 13)
df = obj.price(date_from=start, date_to=end, symbol='F101-1609', freq='1h')
df.head(20)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-08-12 08:00:00</th>
      <td>16800</td>
      <td>16810</td>
      <td>16780</td>
      <td>16810</td>
      <td>2327</td>
      <td>39091630</td>
    </tr>
    <tr>
      <th>2016-08-12 09:00:00</th>
      <td>16810</td>
      <td>16890</td>
      <td>16810</td>
      <td>16860</td>
      <td>12176</td>
      <td>205205500</td>
    </tr>
    <tr>
      <th>2016-08-12 10:00:00</th>
      <td>16860</td>
      <td>16890</td>
      <td>16840</td>
      <td>16850</td>
      <td>5013</td>
      <td>84551610</td>
    </tr>
    <tr>
      <th>2016-08-12 11:00:00</th>
      <td>16850</td>
      <td>16860</td>
      <td>16830</td>
      <td>16840</td>
      <td>2721</td>
      <td>45843610</td>
    </tr>
    <tr>
      <th>2016-08-12 12:00:00</th>
      <td>16840</td>
      <td>16880</td>
      <td>16820</td>
      <td>16880</td>
      <td>2786</td>
      <td>46956240</td>
    </tr>
    <tr>
      <th>2016-08-12 13:00:00</th>
      <td>16870</td>
      <td>16930</td>
      <td>16870</td>
      <td>16900</td>
      <td>5484</td>
      <td>92715360</td>
    </tr>
    <tr>
      <th>2016-08-12 14:00:00</th>
      <td>16900</td>
      <td>16920</td>
      <td>16890</td>
      <td>16900</td>
      <td>4838</td>
      <td>81766090</td>
    </tr>
    <tr>
      <th>2016-08-12 15:00:00</th>
      <td>16890</td>
      <td>16920</td>
      <td>16880</td>
      <td>16920</td>
      <td>4439</td>
      <td>75059260</td>
    </tr>
    <tr>
      <th>2016-08-12 16:00:00</th>
      <td>16910</td>
      <td>16920</td>
      <td>16880</td>
      <td>16890</td>
      <td>728</td>
      <td>12304150</td>
    </tr>
    <tr>
      <th>2016-08-12 17:00:00</th>
      <td>16880</td>
      <td>16890</td>
      <td>16860</td>
      <td>16870</td>
      <td>1325</td>
      <td>22359670</td>
    </tr>
    <tr>
      <th>2016-08-12 18:00:00</th>
      <td>16870</td>
      <td>16900</td>
      <td>16870</td>
      <td>16890</td>
      <td>809</td>
      <td>13657980</td>
    </tr>
    <tr>
      <th>2016-08-12 19:00:00</th>
      <td>16900</td>
      <td>16910</td>
      <td>16890</td>
      <td>16890</td>
      <td>819</td>
      <td>13839130</td>
    </tr>
    <tr>
      <th>2016-08-12 20:00:00</th>
      <td>16890</td>
      <td>16900</td>
      <td>16890</td>
      <td>16890</td>
      <td>453</td>
      <td>7651760</td>
    </tr>
    <tr>
      <th>2016-08-12 21:00:00</th>
      <td>16890</td>
      <td>16910</td>
      <td>16780</td>
      <td>16790</td>
      <td>3023</td>
      <td>50881140</td>
    </tr>
    <tr>
      <th>2016-08-12 22:00:00</th>
      <td>16790</td>
      <td>16820</td>
      <td>16770</td>
      <td>16790</td>
      <td>1543</td>
      <td>25912120</td>
    </tr>
    <tr>
      <th>2016-08-12 23:00:00</th>
      <td>16790</td>
      <td>16820</td>
      <td>16780</td>
      <td>16790</td>
      <td>1474</td>
      <td>24764510</td>
    </tr>
    <tr>
      <th>2016-08-13 00:00:00</th>
      <td>16790</td>
      <td>16820</td>
      <td>16770</td>
      <td>16780</td>
      <td>924</td>
      <td>15520980</td>
    </tr>
  </tbody>
</table>
</div>

In [3]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部, 'e'=夜間) 省略時は全部
df = obj.price_all(date_from=start, date_to=end, session='e')
df.head(10)

http://k-db.com/futures/2016-01-04/e?download=csv
http://k-db.com/futures/2016-01-05/e?download=csv

http://k-db.com/futures/2016-01-06/e?download=csv

http://k-db.com/futures/2016-01-07/e?download=csv

http://k-db.com/futures/2016-01-08/e?download=csv

http://k-db.com/futures/2016-01-09/e?download=csv

http://k-db.com/futures/2016-01-10/e?download=csv

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th>先物</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2016-01-04</th>
      <th>225mini先物 2016年01月限</th>
      <td>18350</td>
      <td>18355</td>
      <td>18090</td>
      <td>18240</td>
      <td>63413</td>
      <td>1154268675</td>
    </tr>
    <tr>
      <th>225mini先物 2016年02月限</th>
      <td>18340</td>
      <td>18350</td>
      <td>18090</td>
      <td>18220</td>
      <td>5085</td>
      <td>92534915</td>
    </tr>
    <tr>
      <th>225mini先物 2016年03月限</th>
      <td>18340</td>
      <td>18345</td>
      <td>18085</td>
      <td>18220</td>
      <td>632991</td>
      <td>11513119015</td>
    </tr>
    <tr>
      <th>225mini先物 2016年04月限</th>
      <td>18220</td>
      <td>18220</td>
      <td>17965</td>
      <td>18045</td>
      <td>298</td>
      <td>5381035</td>
    </tr>
    <tr>
      <th>225mini先物 2016年06月限</th>
      <td>18230</td>
      <td>18230</td>
      <td>17970</td>
      <td>18095</td>
      <td>3882</td>
      <td>70194545</td>
    </tr>
    <tr>
      <th>225mini先物 2016年09月限</th>
      <td>18205</td>
      <td>18205</td>
      <td>17950</td>
      <td>18120</td>
      <td>327</td>
      <td>5907195</td>
    </tr>
    <tr>
      <th>225mini先物 2016年12月限</th>
      <td>18095</td>
      <td>18095</td>
      <td>17850</td>
      <td>17960</td>
      <td>243</td>
      <td>4362725</td>
    </tr>
    <tr>
      <th>225mini先物 2017年03月限</th>
      <td>18075</td>
      <td>18075</td>
      <td>17800</td>
      <td>17890</td>
      <td>41</td>
      <td>733545</td>
    </tr>
    <tr>
      <th>225mini先物 2017年06月限</th>
      <td>17860</td>
      <td>17860</td>
      <td>17700</td>
      <td>17720</td>
      <td>18</td>
      <td>319710</td>
    </tr>
    <tr>
      <th>225mini先物 2017年12月限</th>
      <td>17995</td>
      <td>17995</td>
      <td>17600</td>
      <td>17600</td>
      <td>10</td>
      <td>176970</td>
    </tr>
  </tbody>
</table>
</div>